/* General Styling*/
body {
  font-family: "Montserrat", sans-serif;
}
a {
  color: #06c;
}
img {
  max-width: 100%;
}
.white {
  color: #fff;
}
.black {
  color: #1d1d1f;
}
.grey {
  color: #86868b;
}
.top-50 {
  margin-top: 50px;
}
.top-100 {
  margin-top: 100px;
}
/* Header Style */
.nav-wrapper {
  background: rgba(0, 0, 0, 0.8);
  font-size: 0.85em;
  font-weight: 200;
}
.nav-wrapper ul li a {
  color: #fff;
}
.navbar-toggler {
  color: #fff;
}
.nav-item {
  text-align: left !important;
  padding: 4px 0;
  border-bottom: 1px solid #4b4b4b;
}

/* Footer Styling */
.footer-wrapper {
  background-color: #f5f5f7;
  color: #86868b;
  font-size: 0.7em;
}
.footer-wrapper ul {
  list-style: none;
  padding-bottom: 10px;
  padding-inline-start: 0px;
}
.footer-wrapper ul a {
  color: #515154;
}
.my-apple-wrapper {
  padding-bottom: 15px;
  margin-top: 10px;
}
.copyright {
  margin-top: 15px;
}
.footer-country {
  margin-top: 8px;
}
.flag-wrapper {
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
}
.footer-country-name {
  display: inline-block;
  vertical-align: middle;
}
.footer-links-terms ul {
  display: flex;
}
.footer-links-terms ul li {
  padding: 0 10px;
  border-right: 1px solid #d2d2d7;
}
.footer-links-terms ul li:first-child {
  padding-left: 0;
}
.footer-links-terms ul li:last-child {
  border-right: 0;
}

.footer-links-wrapper h3 {
  font-size: 12px;
  font-weight: 600;
  color: #1d1d1f;
}
.footer-wrapper ul li {
  padding: 4px 0;
}

/* main content start here! First Section */
.main-highlight-wrapper {
  background: #fafafa;
}
/* Second Highlight Section */
.second-hightlight-wrapper {
  background: url(../images/home/iphone11-pro-bg.jpg) no-repeat center;
  height: 530px;
}
.title-wraper {
  font-weight: 600;
  font-size: 36px;
}
.third-highlight-wrapper {
  background: url(../images/home/iphone11-bg.jpg) no-repeat center;
  height: 530px;
}
/*Fourth Highlight Section */
.fourth-heghlight-wrapper {
  width: 100%;
}
.watch {
  background: #fff url("../images/home/watch-series-5.jpg") no-repeat center;
  height: 580px;
}
.fourth-heghlight-wrapper .right-side-wrapper {
  background: url(../images/home/apple-card.jpg) no-repeat center;
  height: 580px;
  background-size: cover;
}
/*Fivth Highlight Section */
.fifth-heghlight-wrapper .left-side-wrapper {
  background: url(../images/home/apple-tv-background.jpg) no-repeat center;
  background-size: cover;
  height: 580px;
}
/* sixth h section  */
/* .new-heghlight-wrapper .main-heghlight-wrapper1{
   background: url(../images/home/macbook-pro.jpg) no-repeat center;;
  background-size: cover;
  background-position: center bott;
  height: 580px;  */

.air-pods-i {
  background: url(../images/home/air-pods.jpg) no-repeat center;
  background-position: top;
  height: 340px;
}
.watch-more-wrapper a:after {
  font-family: "FontAwesome";
  /* font-weight: 900; */
  content: "\f144";
  padding-left: 15px;
}

/*fifth Highlight Section */
.right-side-wrapper-air {
  background-color: black;
}
.new-heghlight-wrapper .right-side-wrapper {
  background: url(../images/home/new-ipad.jpg) no-repeat center;
  height: 530px;
}

.links-wrapper ul li {
  display: inline-block;
  padding-right: 20px;
}
.links-wrapper ul li :hover {
  color: #000;
}
.links-wrapper ul li :after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f105";
  padding-left: 10px;
}

/*Media Query*/
/* Footer */
@media (max-width: 768px) {
  .footer-links-wrapper ul {
    display: none;
  }
  .footer-links-wrapper h3 {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  .footer-links-wrapper h3:after {
    font-family: "FontAwesome";
    content: "\f067";
    padding-left: 10px;
    position: absolute;
    right: 25px;
  }
}

@media (min-width: 992px) {
  /*Footer styling*/
  .copyright {
    margin-top: 10px;
  }
  .footer-country {
    margin-top: 10px;
  }
  .footer-links-terms {
    margin-top: 10px;
  }
}

@media (min-width: 768px) {
  /*Nav bar*/
  .nav-item {
    text-align: center !important;
    padding: 0;
    border-bottom: 0px;
  }
  /*Footer styling*/
  .my-apple-wrapper {
    border-bottom: 1px solid #d2d2d7;
  }
}

/* Footer responsive */
@media (max-width: 768px) {
  .footer-links-wrapper ul {
    display: none;
  }
  .footer-links-wrapper h3 {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  .footer-links-wrapper h3:after {
    font-family: "FontAwesome";
    content: "\f067";
    padding-left: 10px;
    position: absolute;
    right: 25px;
  }

  .footer-links-wrapper h3.expanded:after {
    font-family: "FontAwesome";
    content: "\f107";
    padding-left: 10px;
    position: absolute;
    right: 25px;
  }

  .footer-links-wrapper h3.expand:after {
    font-family: "FontAwesome";
    content: "\f00d";
    padding-left: 10px;
    position: absolute;
    right: 25px;
  }

  /* Search Box */
  .searchbox {
    z-index: 100;
    background: #000;
    padding: 100px;
    text-align: center;
    display: none;
  }

  .searchbox ul {
    background: #fff;
  }
}

/* f00d */
